***
<h1 id="heading"><center><span style="background-color:#5642C5; color:white ; display:fill;border-radius:5px; font-family:cursive"> 1. Data Exploring üìäüî¨</span></center><a class="anchor-link" href="">¬∂</a></h1>
<p><center style="color:#159364; font-family:cursive;">The best way to make yourself extremely valuable in a team is to understand everything, but being a master of something.</center></p>

***

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946; display:fill;border-radius:5px; font-family:cursive"> üë®‚Äçüíª Description of the author </span></h3>

* Font-Family: Georgia, Verdana, Cursive https://blog.hubspot.com/website/web-safe-html-css-fonts<br>
* Colors Used: ['crimson', 'orange', #5642C5, #62d6cc, #50b5e7, #e7b550] https://htmlcolorcodes.com/fr/<br>
* Emoji Used: [üìö, üìå, üòÉ, üí¨, üéñ, üìé, üèÜ, üó£, üî≠, üåà, üí≠, ‚è≥, üôåüèª]

<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#50b5e7;
           font-size:110%;
           font-family:Verdana;
           letter-spacing:0.5px">

<p style="padding: 10px;
              color:white;">
              All that is gold does not glitter,Not all those who wander are lost;The old that is strong does not wither,Deep roots are not reached by the frost.<br>fdsrge
</p>
</div>

The followed cell used for quoat
<blockquote><p style="font-size:16px; color:#159364; font-family:verdana;">üí¨ Finally, I would like to take this opportunity to remind everyone to be <code>kind</code>, <code>just</code> and <code>mindful</code>üòÉ</p></blockquote>

Social Media Contact:
*  [Github](trgh)
*  [My LinkedIn link ](https://www.linkedin.com/in/yassir-eljayi/)

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üì• Import packages & data </span></h3>

In [1]:
DATA_PATH = '/home/saitama/Project_healthcare/StrokePrediction/data/raw/healthcare-dataset-stroke-data.csv'

In [2]:
import pandas as pd
import numpy as np
# The below options is useful for displaying multiple line 
pd.options.display.max_rows = 50000

In [3]:
raw_df = pd.read_csv(DATA_PATH)

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üî¨ Explore Overall data </span></h3>

In [4]:
# What is the shape of the data
raw_df.shape

(5110, 12)

<span style="font-family:cursive;
             color:#ff9d91">Attribute Information:üë®‚Äçüíª</span>

1) id: unique identifier
2) gender: "Male", "Female" or "Other"
3) age: age of the patient
4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension
5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease
6) ever_married: "No" or "Yes"
7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"
8) Residence_type: "Rural" or "Urban"
9) avg_glucose_level: average glucose level in blood
10) bmi: body mass index
11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*
12) stroke: 1 if the patient had a stroke or 0 if not<br>
<p style="padding: 6px;
          color:#aa0c0c;">
üìå *Note: "Unknown" in smoking_status means that the information is unavailable for this patient.
</p>

![Stay Home](https://www.cdc.gov/diabetes/images/basics/CDC_Diabetes_Social_Ad_Concept_A2_Facebook.png "Optional titled sfdsf")

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

<span style="font-family:cursive;
             color:#ff9d91">From the info above we can see two major problems:üë®‚Äçüíª</span>
- [ ] We have many missing values in the bmi column
- [ ] In the smoking_status column we have the "Unknown" choice which refer to a missing value on this type of categorie

<div style="display:fill;
           border-radius:5px;
           background-color:#ffdbdb;;
           font-family:Georgia;">

<p style="padding: 6px;
          color:#aa0c0c;">
üìå Our target is related to technologie skills and jobs. So, we need to use evry columns that can help us.
</p>
</div>

<u>**Remarque:**</u><br>
* .sample(n) give a "**n**" random sample from the data set but display it as datafram table --> give us a hard readbility when we have lot of column<br>
    - **To do so** we use .iloc[m] to display the "**m+1**" row in the simple and the display are in the below format <br>
* m shoud be small then n

In [10]:
raw_df.sample(1).iloc[0]

id                          58477
gender                     Female
age                          45.0
hypertension                    0
heart_disease                   0
ever_married                  Yes
work_type                 Private
Residence_type              Urban
avg_glucose_level           81.24
bmi                          37.0
smoking_status       never smoked
stroke                          0
Name: 4189, dtype: object

In [7]:
# COLUMNS_NEED_SPLIT = ["DatabaseDesireNextYear", "DatabaseWorkedWith",
#                       "DevType",
#                       "NEWCollabToolsDesireNextYear", "NEWCollabToolsWorkedWith",
#                       "OpSys", "PlatformDesireNextYear", "PlatformWorkedWith",
#                       "UndergradMajor",
#                       "WebframeDesireNextYear", "WebframeWorkedWith"]
# COLUMNS_HAVE_PROB  = ["Age1stCode", "YearsCodePro", "YearsCode"]
# COLUMNS_TO_USE = COLUMNS_HAVE_PROB + COLUMNS_NEED_SPLIT
# COLUMNS_FOR_JOB_HUNT = ["NEWJobHuntResearch", "NEWJobHunt"]

<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> üî¨ Explore Columns </span></h3>

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">1. üóÑÔ∏è Quique describe </span></h4>

In [8]:
raw_df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">2. üóÑÔ∏è Columns have problem </span></h4>

In [11]:
raw_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

<div style="display:fill;
           border-radius:5px;
           background-color:#ffdbdb;;
           font-family:Georgia;">

<p style="padding: 6px;
          color:#aa0c0c;">
üìå <br>We can see that the problem is there are some string in those columns that why we have an object type insted of int or float type!.
</p>
</div>

<p style="padding: 6px;
          color:#11752c;">
üìó <br>
    Change the following value for each column in the "COLUMNS_HAVE_PROB":<br>
    * 'Less than 1 year'<br>
    * 'More than 50 years'<br>
    * 'Younger than 5 years'<br>
    * 'Older than 85'
</p>