In [1]:
# Constante
DATA_PATH = '/home/saitama/Project_healthcare/StrokePrediction/data/raw/healthcare-dataset-stroke-data.csv' 
EXPORT_PATH = "../data/processed/1_preprocessed_df.pkl"

# Columns need to be integer 
COLUMNS_HAVE_PROB = ["bmi", "gender"]

***
<h3 id="heading"><span style="background-color:#cefffb; color:#1b4946 ; display:fill;border-radius:5px; font-family:cursive"> ðŸ“¥ Import packages & data </span></h3>

In [2]:
# Load necessary package 
import pandas as pd
import missingno as msno
import numpy as np
import pickle
import logging
import math
import random
import os

pd.options.display.max_rows = 20

raw_df = pd.read_csv(DATA_PATH)

***
<h2 id="heading"><span style="background-color:#cefffb; color:#1b4946; display:fill;border-radius:5px; font-family:cursive"> ðŸ§® Preprocessing </span></h2>

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia"> ðŸ“‹ Preprocessing Data </span></h4>

<div style="font-family:Georgia;">
    <p style="padding: 6px;
              color:#aa0c0c;">
ðŸ“Œ Remarks and modification
</p> 
</div>

- [x] column gender has a false entry need to change or deleted
- [ ] hypertension has some sort of umbalence number of entry 
- [ ] the same thing with hear_disease 
- [ ] work_type hase some value that contain "private" what that mean ? 
- [ ] glucose_level values are between 55 and 272  with mean 106
- [ ] bmi has some sort of missing value with 201 values and high correlation missing need to understand why 
- [ ] understand the corrolation between all the attributes.

In [3]:
df = raw_df.copy()

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">1. ðŸ”¨ðŸª› Replace Values </span></h4>

In [4]:
# retrive the index of rows that have other gender
ki=df.index[df['gender']=='Other'].item()

In [5]:
# drop the rows that have other as gender
df=df.drop([ki])

In [6]:
# Check if the changes are applied successfully
df['gender'].value_counts()

Female    2994
Male      2115
Name: gender, dtype: int64

<h4 id="heading"><span style="background-color:#fcf3b9; color:#3d3710 ; display:fill;border-radius:5px; font-family:Georgia">2. ðŸ”¨ðŸª› Fill the missing Values </span></h4>

In [7]:
df.isna().sum()
# function that can musure the corrolation between map as ilustration and plots
# msno.matrix(df)
# msno.bar(df)
# msno.heatmap(df)
# msno.dendrogram(df)

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [8]:
# Replace null value in the avg_glucose_level

df['bmi']=df['bmi'].fillna(df['bmi'].mean())

In [9]:
print(df.isna().sum())

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

***
<h2 id="heading"><span style="background-color:#cefffb; color:#1b4946; display:fill;border-radius:5px; font-family:cursive"> ðŸ’± Check the change  </span></h2>

In [10]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.60000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.89456,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.50000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.40000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.00000,never smoked,1

***
<h2 id="heading"><span style="background-color:#cefffb; color:#1b4946; display:fill;border-radius:5px; font-family:cursive"> ðŸ“¤ Exporting Pickle </span></h2>

In [11]:
EXPORT_PATH

'../data/processed/1_preprocessed_df.pkl'

In [12]:
with open(EXPORT_PATH, 'wb') as f:
    pickle.dump(df, f)
# We can also use: $ df.to_pickle(EXPORT_PATH)

In [13]:
# For import the pickle from the path
xr= pd.read_pickle(EXPORT_PATH)